container-estoque {
    margin: 20px;
    height: auto;
    width: fit-content;
    display: grid;
    grid-template-areas: "section section";
    grid-template-columns: subgrid;
    transition: all .5s;
    background: rgb(166, 164, 165);
    background: -moz-linear-gradient(90deg, rgba(166, 164, 165, 1) 0%, rgba(227, 227, 227, 1) 48%, rgba(166, 164, 165, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(166, 164, 165, 1) 0%, rgba(227, 227, 227, 1) 48%, rgba(166, 164, 165, 1) 100%);
    background: linear-gradient(90deg, rgba(166, 164, 165, 1) 0%, rgba(227, 227, 227, 1) 48%, rgba(166, 164, 165, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6a4a5", endColorstr="#a6a4a5", GradientType=1);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px #121212;
}

container-estoque:hover {
    scale: 1.05;
}

section-1 {
    margin: 1rem 5px 5px 5px;

    grid-area: "section";
    display: grid;
    grid-template-areas: "card-blood card-blood card-blood card-blood";
    grid-row-gap: 15px;
}

section-2 {
    border: none;
    border-left: 1px solid #000;
    padding-left: 10px;
    margin: 15px;
    grid-area: "section";
    display: grid;
    grid-template-areas: "card-blood-leg";
    justify-items: center;
}

.card-blood {
    grid-area: "card-blood";
    width: auto;
    max-width: 70px;
}

.card-bloodleg {
    width: auto;
    max-width: 70px;
}

container-estoque img {
    width: 30px;
}

h4 {
    font-size: 12px;
    margin-bottom: 8px
}

@media screen and (max-width: 1024px) {
    container-estoque {
        width: auto;
    }

    .card-blood {
        max-width: auto;

    }

    .card-bloodleg {
        max-width: auto;
    }
}

@media screen and (max-width: 520px) {
    container-estoque {
        scale: .8;
    }
}