container-estoque {
    background: linear-gradient(135deg, #ccc, #fafafa, #949494);
    background-size: 220% 220%;
    animation: gradient 15s ease infinite;
    transition: 150ms ease-in-out;
    border-radius: 30px;
    width: 25vw;
    padding: 2vh 1vw;
    margin: 30px;
    height: auto;
    width: 460px;
    display: grid;
    grid-template-areas: "section1 section2";
    grid-template-columns: subgrid;
    transition: all .5s;
    border-radius: 20px;
    justify-content: center;
    align-items: center;    
}

container-estoque:hover {
    scale: 1.01;
    box-shadow: 0px 0px 15px #0000005b;
}

section-1 {
    margin: 1rem 5px 5px 5px;
    grid-area: section1;
    display: grid;
    grid-template-areas: "card-blood card-blood card-blood card-blood";
    grid-row-gap: 15px;
}

section-2 {
    border: none;
    border-left: 1px solid #dd4a48;
    padding-left: 10px;
    margin: 15px;
    grid-area: section2;
    display: grid;
    grid-template-areas: "card-blood-leg";
    justify-items: center;
}

.card-blood {
    grid-area: card-blood;
    width: auto;
    max-width: 70px;
}

.card-bloodleg {
    grid-area: card-blood-leg;
    width: auto;
    max-width: 70px;
}

container-estoque img {
    width: 30px;
}

h4 {
    font-size: 12px;
    margin-bottom: 8px
}

.linkBloodLevel{
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    container-estoque {
        width: auto;
    }

    .card-blood {
        max-width: auto;

    }

    .card-bloodleg {
        max-width: auto;
    }
}

@media screen and (max-width: 520px) {
    container-estoque {
        scale: .8;
    }
}
