:root {
    --ver: #dd4a48;
}

.btn {
    display: flex;
    margin: 0.5rem auto 0;
    padding: 0.5em;
    text-decoration: none;
    height: auto;
    cursor: pointer;
    background: var(--ver);
    border: none;
    border-radius: 10px;
    color: #fafafa;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.1s;
    transition: all 1.02s;
    position: relative;
}
.limit h4{
    margin: 0.5rem;
    font-size: 12px;
    color: var(--ver);
    padding-left: 15px;
}

.btn:hover {

    transition: 100ms ease;
    box-shadow: 0px 0px 3px #0c0c0c;
}

.form-signin-heading {
    text-align: center;
    color: var(--ver)
}

.input {
    color: #8f2d2b;
}

.form-control {
    margin: 10px;
    font-size: 16px;
    width: 99%;
    height: auto;
    padding: 15px;
    border: 0;
    border-bottom: 1px solid #8f2d2b;
    transition: all 1.05s;
    background: none;
    color: #929292;
}

.form-control:focus {
    border-bottom: 1px solid var(--ver);
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: var(--ver);
    border-bottom: 1px solid #dd4a48;
}
.form-control-anexo {
    margin: 10px;
    width: 99%;
    height: auto;
    padding-left: 15px;
    transition: all 1.05s;
    background: none;
    color: #929292;
}

.limit {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* formulário */

.formCadastro {
    align-items: center;
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 5vw;
    background: linear-gradient(135deg, #ccc, #fafafa, #949494);
    background-size: 220% 220%;
    animation: gradient 15s ease infinite;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

a {
    margin-top: 1vh;
    text-decoration: none;
    color: #dd4a48;
}

.check {
    margin: 10px;
}
.DataN{    
    padding-left: 10px;
    color:#dd4a48;
    font-weight: bold;
}