grid-container {
    justify-content: center;
    padding: 20px;  
    margin: 0 auto;
    border: 0px solid #fff;
    display: grid;    
    grid-column-gap: 40px;
    grid-row-gap: 50px;   
  }
  .mastergrid {
    margin-top: 20px;
    justify-content: center;
        border-radius: 20px;
    max-width: 1200px;
  }
  .grid-principal {
    text-align: center;
    grid-area:span 1/1; 
    height: 10px;
  }
  .grid-principal h2{
    margin-top: 10px;
    font-style: normal;
    font-weight:bold;
    line-height: 4px;
    text-align: center;
    color: #FFFFF;
  }
  .nivel {
    width: 900px;
    height: 270px;
    border-radius: 30px;
    grid-area: "nivel";
    text-align: center;
    background-color: #FCF7F7;
    grid-area:span 5/1;
    box-shadow: 0px 15px 15px #1212126b;
  }

  
  .nivel p {
    margin-top: 10px;
    margin-left: 20px; 
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    text-align: left;
    color: #000000;
  }
  .nivel h3 {
    margin-left: 20px;  
    margin-top: 10px;  
    font-style: normal;
    font-weight: bold;    
    text-align: left;
    color: #DB0000;
  }
  .nivel h4 {
    margin-top: 5px;
    color: rgb(0, 0, 0);
  }
  
  /* Início Card Blood Responsivo */
  
  @media (max-width: 966px) {
    grid-container {
        padding: 20px;
        margin: 0 auto;
        border: 0px solid #fff;
        grid-gap: 40px;
        grid-row-gap: 50px;
        grid-area: span 3/1;
        }
      .grid-principal {
        grid-area:span 3/1;
      }
      
      .mastergrid {
      grid-area:span 3/1;
      max-width: 600px;
      padding: 20px;    
      }
      .nivel {
        width: 600px;
        height: 270px;
        border-radius: 30px;
        grid-area: "nivel";
        text-align: center;
        background-color: #FCF7F7;
        grid-area:span 5/1;
        box-shadow: 0px 15px 15px #1212126b;
      }
    
  }
  @media (max-width: 570px) {
    grid-container {
        grid-template-columns: auto;
        justify-content: center;
        margin: 0 auto;
        border: 0px solid #fff;
        grid-gap: 40px;
        grid-row-gap: 50px;
        grid-row: 1 / 1;
      } 
      .grid-principal {
        text-align: center;
        grid-row: 1 / 1;    
      }  
      .grid-principal h2{
        padding: 20px;     
      }  
      .mastergrid {
        max-width: 286px;
        padding: 20px;    
      }
      .nivel {
        width: 300px;
        height: 300px;
        border-radius: 30px;
        grid-area: "nivel";
        text-align: center;
        background-color: #FCF7F7;
        grid-area:span 5/1;
        box-shadow: 0px 15px 15px #1212126b;
      }
   
  }
   
  /* Fim Grid 