
  p, aside{
    color: #000000;
    font-size: 18px;
  }

  b, a{
    font-weight: 800;
    color: #dd4a48;
    font-size: 18px;
    text-decoration: none;
  }

  main{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }

  .noticia{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh .5fr auto;
    grid-template-areas: 
    'titulo'
    'midia'
    'descricao';

    width: 70vw ;
    margin: 0 15vw 5vh;
    background-color: #fafafa;
    border-radius: 23px;
  }

  .titulo, h1{
    margin: 1vh;
    grid-area: titulo;
    text-align: center;
    font-weight: 600; 
    font-size: 1.5em;
  }
  
  .midia {
    grid-area: midia;
    height: auto;
    width: 50vw;
    margin: 7vh 10vw 2vh;
    border-radius: 23px;
  }

  .descricao{
    grid-area: descricao;
    margin: 2vh 11vw 5vh;
  }

p,li{
  margin-bottom: 1.5vh;
}

em{
  font-weight: 500;
}


@media screen and (max-width: 1024px) {
  .titulo, h1{
    font-size: 30px;
  }

}

@media screen and (max-width: 800px) {
  .titulo, h1{
    font-size: 20px;
  }

  .midia {
    width: 55vw;
    margin: 7vh 8vw 2vh;
    border-radius: 13px;
  }

  .descricao{
    grid-area: descricao;
    margin: 2vh 5vw 5vh;
  }

  #btn-voltar{
    margin-left: 15vw;
    text-align: center;
    padding: 0 ;
  }
}

@media screen and (max-width: 570px){
  #btn-voltar{
    margin-left: 15vw;
    text-align: center;
    padding: 0 5vw ;
    height: 5vh;
    width: auto;
}
}

@media screen and (max-width: 390px){
  .noticia{
    width: 90vw ;
    margin: 0 5vw 5vh;
  }

  p,li,a{
    font-size: 15px;
  }

  li{
    margin: 1.5vh 3vw;
  }

  .titulo, h1{
    font-size: 15px;
  }

  .midia {
    grid-area: midia;
    height: auto;
    width: 80vw;
    margin: 4vh 5vw 1vh;
    border-radius: 13px;
  }

  
}
