/* main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    'nav'
    'header';
  } */


  p, aside{
    color: #f5eedc;
    font-size: 18px;
    font-style: italic;
  }

  b{
    font-weight: 800;
    color: #180000;
    font-size: 18px;
    font-style: italic;
  }

  .noticia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 1fr 1fr;
    grid-template-areas: 
    'titulo titulo'
    'midia midia'
    'descricao descricao';

    width: ;
    margin: 0 2vw;
    background-color: #fafafa48;
  }

  .titulo{
    height: 1vh;
    grid-area: titulo;
  }
  
  .midia {
    grid-area: midia;
    height: 40vh;
  }

  .descricao{
    grid-area: descricao;
    
  }


