
  p, aside{
    color: #000000;
    font-size: 18px;
    font-style: italic;
  }

  b, a{
    font-weight: 800;
    color: #dd4a48;
    font-size: 18px;
    font-style: italic;
  }

  .noticia{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 1fr;
    grid-template-areas: 
    'titulo'
    'midia'
    'descricao';

    width: 80vw ;
    margin: 0 10vw 5vh;
    background-color: #fafafa;
    border-radius: 23px;

  }

  .titulo{
    margin-top: 2.5vh;
    grid-area: titulo;
    text-align: center;
  }

  .titulo h1{
    font-weight: 600;
  }
  
  .midia {
    grid-area: midia;
    width: 80%;
    margin: 0 10%;
    border-radius: 23px;
  }

  .descricao{
    grid-area: descricao;
    margin: 35px 10%;
  }



