/* Configuração do Grid */
.conteudo{
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: 
    'btn-white1 btn-white2'
    'container-left container-right';
    text-align: center;
    grid-row-gap: 4em;
}
.container-left{
    grid-area: container-left;
}

.container-right{
    grid-area: container-right;
}

/* botões da 1a row */
.btn-white1{
    grid-area:btn-white1;
    background-color: #fafafa;
    color: #dd4a48;
    text-decoration: none;
    height: auto; 
    min-height: 7vh;
    width: auto;
    border-radius: 30px;
    font-weight: 900;
    font-size: 20px;
    padding: 2vh 1vw;
    transition: all .35s;
    margin: 5vh auto auto;
}
.btn-white2{
    grid-area:btn-white2;
    background-color: #fafafa;
    color: #dd4a48;
    text-decoration: none;
    height: auto; 
    min-height: 7vh;
    width: auto;
    border-radius: 30px;
    font-weight: 900;
    font-size: 20px;
    padding: 2vh 1vw;
    transition: all .35s;
    margin: 5vh auto auto;
}

/* animações dos botões */
.btn-white:hover{
    scale: 1.02;
}


#rightImg img{
    height: 18em;
    width: auto;
    margin-top: 1em;
    transition: all .5s;
}


.rightImg:hover{
    scale: 1.02;
}

@media screen and (max-width: 1024px){
    .conteudo{        
        grid-template-rows: 15vh 1fr 1fr 1fr;
        grid-template-areas: 
        'botoes'
        'container-left'
        'container-right';
    
        text-align: center;
    }
}

@media screen and (max-width: 642px){
    .conteudo{
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 1fr 1fr 1fr;
        grid-template-areas: 
        'botoes'
        'container-left'
        'container-right';
    
        text-align: center;
    }

    .botoes{
        flex-direction: column;
    }

    .btn-white{
        height: 5vh;
        width: auto;
        border-radius: 30px;
        font-weight: 900;
        font-size: 17px;
        padding: 1vh 4vw;
        transition: all .35s;
        margin: 0 auto 0;
    }

    .container-left,.container-right{
        width: 70vw;
        margin: auto 15vw;
    }

    .rightImg, .leftImg{
        width: 100%;
        height: auto;
    }
}